<aside>
  <div class="container-top">
  <ul>
    <aside-menu-option titulo="Hoje" urlImg="assets/todayIcon.png"
      endPoint="/today"
      [tasks]="tasks"
      [filter]="taskFilters.TODAY_TASKS_FILTER_PENDING_OR_IN_PROGRESS"
    />

    <aside-menu-option titulo="Amanhã"  urlImg="assets/tomorrowIcon.png"
      endPoint="/tomorrow"
      [tasks]="tasks"
      [filter]="taskFilters.TOMORROW_TASKS_FILTER_PENDING_OR_IN_PROGRESS"
    />

    <aside-menu-option titulo="Esta Semana"  urlImg="assets/calendarIcon.png"
      endPoint="/thisWeek"
      [tasks]="tasks"
      [filter]="taskFilters.THIS_WEEK_TASKS_FILTER_PENDING_OR_IN_PROGRESS"
    />

    <aside-menu-option titulo="Próximos 7 dias"  urlImg="assets/7DaysIcon.png"
      endPoint="/sevenDays"
      [tasks]="tasks"
      [filter]="taskFilters.NEXT_SEVEN_DAYS_TASKS_FILTER_PENDING_OR_IN_PROGRESS"
    />

    <aside-menu-option titulo="Planejado"  urlImg="assets/plannedIcon.png"
      endPoint="/tasks"
      [tasks]="tasks"
      [filter]="taskFilters.PLANNED_TASKS_FILTER_PENDING_OR_IN_PROGRESS"
    />

    <aside-menu-option titulo="Tarefas"  urlImg="assets/TasksIcon.png"
      endPoint="/tasks"
      [tasks]="tasks"
      [filter]="taskFilters.ALL_TASKS_FILTER_PENDING_OR_IN_PROGRESS"
    />

    <aside-menu-option titulo="Concluido"  urlImg="assets/concludedIcon.png"
      endPoint="/concluded"
      [tasks]="tasks"
      [filter]="taskFilters.COMPLETED_TASKS_FILTER"
    />

  </ul>
  </div>

  <theme-switcher/>

</aside>
