@import "../shared.scss";

.aside-container {
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: column;
  justify-content: space-between;
  width: 275px;
  height: 100%;
  background-color: var(--container);
}

.container-top {
  padding-top: 4rem;
  padding-left: 0.5rem;
}

@media (max-width: 768px) {
  .aside-container {
    width: 165px;
    padding: 0.5rem;
  }

}

@media (max-width: 640px) {
  .aside-container {
    padding: 0;
    width: 3rem;
  }

  .container-top {
    padding-left: 0;
  }
}

