<aside>
  <div class="container-top">
  <ul>
    <li class="menu-option">
      <img class="image-aside" src="assets/todayIcon.png">
      <div class="title-aside">
        Hoje
      </div>
      <div class="remaining-time">
        10h 20m
      </div>
      <div class="not-completed-tasks">
        5
      </div>
    </li>
    <li class="menu-option">
      <img class="image-aside" src="assets/tomorrowIcon.png">
      <div class="title-aside">
        Amanhã
      </div>
      <div class="remaining-time">
        10h 20m
      </div>
      <div class="not-completed-tasks">
        5
      </div>
    </li>
    <li class="menu-option">
      <img class="image-aside" src="assets/calendarIcon.png">
      <div class="title-aside">
        Esta Semana
      </div>
      <div class="remaining-time">
        10h 20m
      </div>
      <div class="not-completed-tasks">
        5
      </div>
    </li>
    <li class="menu-option">
      <img class="image-aside" src="assets/7DaysIcon.png">
      <div class="title-aside">
        Próximos 7 dias
      </div>
      <div class="remaining-time">
        10h 20m
      </div>
      <div class="not-completed-tasks">
        5
      </div>
    </li>
    <li class="menu-option">
      <img class="image-aside" src="assets/plannedIcon.png">
      <div class="title-aside">
        Planejado
      </div>
      <div class="remaining-time">
        10h 20m
      </div>
      <div class="not-completed-tasks">
        5
      </div>
    </li>
    <li class="menu-option">
      <img class="image-aside" src="assets/TasksIcon.png">
      <div class="title-aside">
        Tarefas
      </div>
      <div class="remaining-time">
        10h 20m
      </div>
      <div class="not-completed-tasks">
        5
      </div>
    </li>
    <li class="menu-option">
      <img class="image-aside" src="assets/concludedIcon.png">
      <div class="title-aside">
        Concluido
      </div>
      <div class="remaining-time">
        10h 20m
      </div>
      <div class="not-completed-tasks">
        5
      </div>
    </li>
  </ul>
  </div>

  <theme-switcher/>

</aside>
