@import "../../shared.scss";

.menu-option {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;

  &:hover, &.selected {
    background-color: var(--selected);
    border-radius: 0.25rem
  }
}

.remaining-time {
  grid-column: span 1 / span 1;
  padding-top: 0.25rem;
  font-size: 0.6255rem;
  color: var(--tertiary);
}

.not-completed-tasks {
  grid-column: auto;
  padding-top: 0.5rem;
  text-align: center;
  font-size: 0.6255rem;
  color: var(--tertiary);
}

@media (min-width: 768px) {
  .menu-option {
    grid-column: span 3 / span 3;
  }
}

@media (max-width: 768px) {
  .menu-option {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .remaining-time {
    display: none;
  }

  .not-completed-tasks {
    display: none;
  }
}

@media (max-width: 640px) {
  .menu-option {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: center;
  }
}

