// Fontes
$font-size-teen: 0.6255rem;

// Tamanhos de tela (breakpoints)
$screen-xs: 500px;

// Cores - tema claro (light)
$light-primary: #000000;
$light-secondary: #BDC2CF;
$light-tertiary: #AEAEAE;
$light-highlight: #FD5553;
$light-accent: #51B156;
$light-screen: #F7F7FA;
$light-container: #FFFFFF;
$light-selected: #F5F5F5;
$light-detail: #FBFBFB;
$light-detail-span: #FED4D4;
$light-border: #51B156;

// Cores - tema escuro (dark)
$dark-primary: #FFFFFF;
$dark-secondary: #BDC2CF;
$dark-tertiary: #AEAEAE;
$dark-highlight: #02AAAC;
$dark-accent: #02AAAC;
$dark-screen: #0f0f0f;
$dark-container: #090809;
$dark-selected: #1D1D1D;
$dark-detail: #121012;
$dark-detail-span: #002627;
$dark-border: #474236;


:root {
  --primary: #000000;
  --secondary: #BDC2CF;
  --tertiary: #AEAEAE;
  --highlight: #FD5553;
  --accent: #51B156;
  --screen: #F7F7FA;
  --container: #FFFFFF;
  --selected: #F5F5F5;
  --detail: #FBFBFB;
  --detail-span: #FED4D4;
  --border: #BDC2CF;
  // --border: #51B156;
}

// Cores - tema escuro (dark)
body.dark {
  --primary: #FFFFFF;
  --secondary: #BDC2CF;
  --tertiary: #AEAEAE;
  --highlight: #02AAAC;
  --accent: #02AAAC;
  --screen: #0f0f0f;
  --container: #090809;
  --selected: #1D1D1D;
  --detail: #121012;
  --detail-span: #002627;
  --border: #474236;
}

body {
  background-color: $light-screen;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  padding: 0;
  margin: 0;

  &.dark {
    background-color: #0f0f0f;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  all: unset;
  display: block;
  max-width: 100%;
  height: auto;
}

div {
  all: unset;
  display: block;
  margin: 0;
  padding: 0;
  line-height: normal;
  vertical-align: baseline;
}

.mt-1 {
  margin-top: 0.25rem;
}

a {
  all: unset;
}

h1 {
  all: unset;
}

p {
  margin: 0;
  padding: 0;
}

.ml-2 {
  margin-left: 0.50rem;
}

.mr-2 {
  margin-right: 0.50rem;
}
